<% if current_author %>
  <h3>Unpublished Articles</h3>

  <div id="my-articles">
    <% filter_unpublished_article(current_author.articles).each do |article| %>
      <%= article.title %>
      <p>
        <%= link_to "Show this article", article %>
      </p>
    <% end %>
  </div>
  <%= link_to "New article", new_article_path %>
  <hr>
<% end %>

 
<h3>Articles</h3>

<div id="articles">
  <% @articles.each do |article| %>
    <%= article.title %>
    <p>
      <%= link_to "Show this article", article %>
    </p>

  <% end %>
</div>
