<%= render @article %>
<br>
<h3>Comments </h3>
<%= render @article.comments %>
<% if current_reader && current_reader.blocked == false %>
  <%= render partial: 'comments/form' %>
<% end %>


<div>
  <% if author_signed_in? %>
    <%= link_to "Edit this article", edit_article_path(@article) %> 
    <%= button_to "Destroy this article", @article, method: :delete %>
  <% end %>
  <%= link_to "Back to articles", articles_path %>
</div>
