<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">ArticleHub</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
      </ul>
      <span class="nav-login">
        <% if reader_signed_in? %>
          <%= current_reader.email %> | 
          <%= link_to 'Sign out as reader', destroy_reader_session_path, data: { turbo_method: :delete } %>          
        <% elsif author_signed_in?%>
          <%= current_author.email %> | 
          <%= link_to 'Sign out as author', destroy_author_session_path, data: { turbo_method: :delete } %> 
        <% elsif admin_signed_in?%>
          <%= current_admin.email %> | 
          <%= link_to 'Sign out as admin', destroy_admin_session_path, data: { turbo_method: :delete } %>
        <% else %>
          <%= link_to "Sign in as reader", new_reader_session_path %> | 
          <%= link_to "Sign in as author", new_author_session_path %> |
          <%= link_to "Sign in as admin", new_admin_session_path %>
            
        <% end %>
      </span>
    </div>
  </div>
</nav>